

/*
sddsada
asdsada
*/
* {
	margin :0;
	padding:0;

}

body {
	background:#212121 /*url("../img/final.png")*/;
	color: #FFFF;
	font-family:  "Franklin Gothic Heavy";
}

h1{
	color : #F60;
	margin : 0.25 em auto;
	text-align :center;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);	
}


header {
	height:auto!important;
	/*headerHeight*/
	height:400px;min-height:400px;
	background : #1E6381;
	background-image:url("../img/ECBTI_1.png");
	border-radius: 0.5em;
	margin:0.5em auto;
	max-width: 960px;
	padding:0.25em;
	text-align: center;

}

nav,footer {
	background : #1E6381;
	border-radius: 0.5em;
	margin:0.5em auto;
	max-width: 960px;
	padding:0.25em;
	text-align: center;
		
}


section#fondo{
	background : #FFF;
	border-radius: 0.5em;
	margin:0.5em auto;
	max-width: 960px;
	padding:0;
	text-align: center;
	}


section#Contenido,aside{
	background : #1E6381;
	border-radius: 0.5em;
	display: inline-block;
	margin:0.25em auto;
	max-width:960px;
	min-height:200px;
	padding:0.25em;
	text-align:center;
	vertical-align:top;	
	width: 71%;
}

article{
	background : #011E30;
	border-radius: 0.5em;
		vertical-align: right-side;
}


aside{
	background:#FFF;
	color:#F60;
	width:25%;
}

